@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar
{
    width: 100%;
    height: 125px;
    position: fixed;
    z-index: 100;
}

.navbar-atas
{
    height: 75px;
    line-height: 60px;
    padding: 10px;
    background-color: white;
}


.navbar-logo
{
    width: 50px;
    height: 50px;
}

.navbar-atas-kanan
{
    display: flex;
    float: left;
}

.navbar-atas-kanan p
{
    margin-left: 10px;
    font-size: 30px;
    font-family: 'La Belle Aurore', cursive;
}

.navbar-atas-kiri
{
    float: right;
    padding-left: 50px;
}

.navbar-bawah
{
    height: 50px;
    background-color: rgb(227, 207, 207);
    line-height: 50px;
    padding-left: 75px;
}


.navbar-isi
{
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding: 0px 10px;
}

.navbar-isi-sekarang{
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 0px 10px;
}

.navbar-kontak
{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.navbar-kontak-hover
{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 10px;
    display: none;
}

.navbar-atas-kiri:hover .navbar-kontak-hover
{
    display: inline;
}

.navbar-isi:hover
{
    color: white;
    transition: 100ms;
}

.navbar-atas-kiri a{
    text-decoration: none;
}
.home-pertama
{
    margin-left: 75px;
}

.colletions-kunci
{
    color: white;
    font-size: 25px;
    text-decoration: none;
    /* padding: 0px 10px; */
    pointer-events: none;
}
/* ========================================== */

.content{
    padding-top: 130px;
}

.c-title{
    margin: 15px;
}

.makanan1{
    margin-bottom: 10px;
    background-color: #DECFCF;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
}

.makanan-img1 img{
    padding: 10px;
    width: 400px;
    height: auto;
    box-sizing: border-box;
    border-radius: 20px;
}

.pack-makanan1{
    padding: 0;
}

.pack-makanan1 .nama-makanan{
    margin-left: 10px;
    font-size: 40px;
    margin-bottom: -20px;
}

.pack-makanan1 .nama-chef{
    margin-left: 10px;
    font-size: 30px;
    color: gray;
    
}

.pack-makanan1 .desc-makanan{
    margin-left: 10px;
    font-size: 20px;
    /* margin-top: -30px; */
}

.makanan1 .bintang-img1 img{
    margin-top: 10px;
    margin-right: 10px;
    width: 60px;
}

/* ========================================== */

.makanan2{
    margin-bottom: 10px;
    background-color: #DECFCF;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
}

.makanan-img2 img{
    padding: 10px;
    width: 400px;
    height: 300px;
    box-sizing: border-box;
    border-radius: 20px;
}

.pack-makanan2{
    padding: 0;
}

.pack-makanan2 .nama-makanan{
    margin-left: 10px;
    font-size: 40px;
    margin-bottom: -20px;
}

.pack-makanan2 .nama-chef2{
    margin-left: 10px;
    font-size: 30px;
    color: gray;
    
}

.pack-makanan2 .desc-makanan2{
    margin-left: 10px;
    font-size: 20px;
    /* margin-top: -30px; */
}

.makanan2 .bintang-img2 img{
    margin-top: 10px;
    margin-right: 10px;
    width: 60px;
}


/* =========================================== */

.makanan3{
    margin-bottom: 10px;
    background-color: #DECFCF;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
}

.makanan-img3 img{
    padding: 10px;
    width: 400px;
    height: 300px;
    box-sizing: border-box;
    border-radius: 20px;
}

.pack-makanan3{
    padding: 0;
}

.pack-makanan3 .nama-makanan{
    margin-left: 10px;
    font-size: 40px;
    margin-bottom: -20px;
}

.pack-makanan3 .nama-chef3{
    margin-left: 10px;
    font-size: 30px;
    color: gray;
    
}

.pack-makanan3 .desc-makanan3{
    margin-left: 10px;
    font-size: 20px;
    /* margin-top: -30px; */
}

.makanan3 .bintang-img3 img{
    margin-top: 10px;
    margin-right: 10px;
    width: 60px;
}

/* ==================================== */

.kiriatas{
    float: left;
}

.kanan{
    float: right;
    line-height: 40px;
    margin-right: 150px;
}

.kanan > h5{
    padding-top: 30px;
    font-size: 30px;
}

.footer{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
    height: 250px;
    background-color: #8B8989;
    position: absolute;
}

.aboutus, .aboutus1{
    display: flex;
    flex-direction: row;
    font-size: x-large;
}

.aboutus > h1{
    padding: 25px;
    font-weight: bold;
    text-decoration: underline;
}

.aboutus > h4{
    padding-top: 56px;
    padding-left: 20px;
    font-size: 40px;
    font-family: 'La Belle Aurore';
}

.aboutus1 > h5{
    padding-top: 30px;
    padding-left: 5px;
}

.aboutus > img{
    margin-top: 50px;
    margin-left: 150px;
    width: 75px;
    height: 75px;
}

.aboutus1 > img{
    width: 50px;
    height: 50px;
    margin-left: 15px;
    margin-top: 20px;
}

.footer > h5{
    font-size: 30px;
}

.bawah{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(227, 207, 207);
    width: 100%;
    height: 100px;
    font-size: 30px;
    padding: 25px;
}

.contactusLogo{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.email, .wa, .ig{
    width: 40px;
    height: 40px;
}
