@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.content{
    background-color: rgba(63, 63, 63, 0.138);
    display: flex;
    flex-direction: row;
}

.kotakkanan{
    background-color: rgb(227, 207, 207);
    width: 48%;
    height: 792px;
    margin-left: 188px;
}

.kotakkanan > img{
    padding-left: 230px;
    padding-top: 220px;
}

.kotakkanan > h4{
    padding-top: 230px;
    padding-right: 20px;
    text-align: right;
}

.oval{
    width: 175px;
    height: 792px;
    background-color: rgb(227, 207, 207);
    border-radius: 100%;
    position: absolute;
    margin-left: 800px;
}

.kotakkiri{
    width: 600px;
    height: 700px;
    background-color: rgb(227, 207, 207);
    margin-left: 100px;
    margin-top: 45px;
    border-radius: 30px;
    box-shadow: 15px 15px 15px rgb(193, 193, 193); 
}

form > h1{
    text-align: center;
    font-size: 50px;
}

form{
    display: flex;
    flex-direction: column;
    margin: 40px;
    gap: 10px;
}

label{
    padding-right: 240px;
    font-size: 25px;
    font-weight: bold;
    color: #5d5d5d;
}

input{
    width: 525px;
    height: 50px;
    padding: 15px;
    border-radius: 20px;
    border-color: rgb(193, 193, 193);
}

.buttonregister{
    background-color: #CDA0A0;
    width: 350px;
    height: 60px;
    margin-top: 10px;
    border-radius: 30px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    justify-content: center;    
    text-decoration: none;
}

input::placeholder{
    color: rgb(176, 176, 176);
    font-size: 15px;
    font-weight: bold;
}

form{
    align-items: center;
}

.buttonregister:hover{
    color: white;
    background-color: #9e7b7b;
}

.guest{
    font-weight: bold;
    color: black;
    margin-top: 20px;
}

.guest:hover{
    color: white;
}

.orregister{
    color: rgb(176, 176, 176);
    font-weight: bold;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.gariskiri{
    background-color: rgb(176, 176, 176);
    width: 160px;
    height: 3px;
    margin-top: 10px;
}

.gariskanan{
    margin-top: 10px;
    background-color: rgb(176, 176, 176);
    width: 160px;
    height: 3px;
}

.or{
    margin-top: 5px;
}

.or{
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.or > img:hover{
    border-radius: 100%;
    background-color: rgb(191, 191, 191);
    cursor: pointer;
}

.or > img{
    width: 60px;
    height: 60px;
}

